form{
    margin:auto;
    margin-top:15%;
    border:2px solid black;
    height:260px;
    width:270px;
    background-color: rgba(0,0,0,0.330);
    color:white;
    border-radius:20% 20% 20% 20%;
}
body{
    background: url(https://images.unsplash.com/photo-1610878180933-123728745d22?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y2FuYWRhJTIwbmF0dXJlfGVufDB8fDB8fHww&w=1000&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}
h3{
    color:aqua;
}
a{
    color:aquamarine;
}